# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\DH\Desktop\cw\inventoryManagementSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/__pycache__
First.jpg
Fourth.jpg
Second.jpg
Third.jpg
Fifth.jpg
Sixth.jpg
Seventh.jpg
# First commit to new branch