<!doctype html>
<html>
   <body>

      <h2><a href = "/enternewuser">Register New User</a></h2>
      <h2><a href = "/UserLogin">Login</a></h2>
      <h2><a href = "/list">FOR DEBUGGING: List Registered Users</a></h2>
      <h2><a href = "/s3UploadTest">s3 Upload Test</a></h2>  
      <h2><a href = "/newproduct">Add New Product</a></h2>
      <h2><a href = "/listprods">List Products</a></h2>
      <h2><a href = "/dispImage">Test Display Image</a></h2>
      <h2><a href = "/">Customer home page</a></h2>

   </body>
</html>
