<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <thead>
            
            <td>Email</td>
            <td>{{ email }}</td>
        </thead>
        <thead>
            <td>First Name</td>
            <td>{{ fn }}</td>
        </thead>
        <thead>
            <td>Last Name</td>
            <td>{{ ln }}</td>
        </thead>
        <thead>
            <td>Password</td>
            <td>{{ pword }}</td>
        </thead>    
        <thead>
            <td>Day Joined</td>
            <td>{{ date_joined }}</td>
        </thead>
        <thead>
            <td>Address</td>
            <td>{{ addr }}</td>
        </thead>
        <thead>
            <td>City</td>
            <td>{{ city }}</td>	
        </thead> 
        <thead>
            <td>Role</td>
            <td>{{ role }}</td>	
        </thead>          
      </table>
      
      <a href = "/">Go back to home page</a>
      <br>
      <a href = "/edituser">Edit Profile</a>
      <br>
      <a href = "/deleteuser">Delete Profile</a>

   </body>
</html>